*{
  box-sizing: border-box;
}

.header {
  background-color: #FFFFFF;
  font-family: "Georgia", serif;
  font-size: 0.9em;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  color: #5a1701;
  padding: 30px;
  margin: 5px 5px 5px 5px; 
  text-align: center;
  border: 2px solid #5a1701;
  border-radius: 10px;
}

body {
  background-color: #FFFFFF;
  font-family: "Georgia", serif;
  font-size: 0.9em;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  color: #5a1701;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #5a1701;
}

#myUL {
  display: block;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 5px;
}

#myUL label {
  display: block;
  text-align: center; 
  margin-top: 20px
}

.grid-item {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border: 2px solid #5a1701;
  border-radius: 5px;
  padding: 15px;
  margin-top: 5px;
  display: block;
  margin: 10px auto auto auto;
  text-align: left;
  font-family: "Georgia", serif;
  font-size: 1em;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  color: #5a1701;
}

.button-28 {
  appearance: none;
  background-color: #5a1701;
  border: 2px solid #5a1701;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Georgia", serif;  
  font-size: 1em;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: 30px;
  max-width: 400px;
  outline: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color:#5a1701;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}