<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brew Ratios</title>
  </head>
  <body>
    <div class="header">
    <h1>Brew Ratios</h1>
    <div class="grid-container">
    <form action="/submit/" method="post" enctype="application/x-www-form-urlencoded">
      <p>Enter the dose and espresso yield, to calculate the brew ratio.</p>
        <label for="dose">Dose In:</label>
        <input type="text" id="dose" name="dose" class="grid-item" placeholder="20" required><br>
        <label for="yields">Yield Out:</label>
        <input type="text" id="yields" name="yields" class="grid-item" placeholder="40" required><br>
        <label for="comments">Comments:</label>
        <input type="text" id="comments" name="comments" class="grid-item" placeholder="Hazelnutty Chocolatey Goodness!" required><br>
        <br>
        <input type="submit" class="grid-Btn" value="Calculate brew">
        <input type="button" class="grid-Btn" onclick="clearForm()" value="Clear">
    </form>
  </div>
  </div>
    <br>
  <table class="center">
        <tr>
          <th>Brew No.</th>
          <th>Dose In</th>
          <th>Yield Out</th>
          <th>Comments</th>
          <th>Ratio</th>
        </tr>
        {% for ratio in ratios %}
        <tr id="myUL">
        <form action="/update/{{ratios.index(ratio)}}" method="post">
          <td>Brew No. {{ratios.index(ratio) + 1}}</td>
          <td><input type="text" id="dose" name="dose" value={{ratio.dose}}></td>
          <td><input type="text" id="yields" name="yields" value={{ratio.yield}}></td>
          <td><input type="text" id="comments" name="comments" value="{{ratio.comments}}"></td>
          <td>{{ratio.ratio}}</td>
          <td><button type="submit" class="grid-Btn">Update</button></td>
        </form>
          <td><a href="/delete/{{ratios.index(ratio)}}"><button class="grid-Btn">Delete</button></a></td>
          </tr>
        {% endfor %}
  </table>
  <script>
    function clearForm() {
    document.querySelector('form').reset();
  }
  </script>
  </body>
</html> 