<!DOCTYPE html>
<html lang="en">
  <head>
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  <link href="/static/styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brew Recipe</title>
  </head>
  <body>
    <div class="header">
    <h1>Brew Recipe</h1>
    <form action="/submit/" method="post" enctype="application/x-www-form-urlencoded">
      <p>Enter some details below of your morning or arvo Coffee brew. </p>
      <p>A record of your brew recipe will appear below!</p>
      <br>
      <ul id="myUL">
        <li><label for="coffeebeanname">Coffee bean name:</label>
        <input type="text" id="coffeebeanname" name="coffeebeanname" class="grid-item" placeholder="Aslan Blend" required></li>
        <li><label for="dose">Dose In (grams):</label></li>
        <li><input type="text" id="dose" name="dose" class="grid-item" placeholder="20" required></li>
        <li><label for="yields">Yield Out (millitres):</label></li>
        <li><input type="text" id="yields" name="yields" class="grid-item" placeholder="40" required></li>
        <li><label for="grindsize">Grind Size:</label></li>
        <li><input type="text" id="grindsize" name="grindsize" class="grid-item" placeholder="8" required></li>
        <li><label for="comments">Comments:</label></li>
        <li><input type="text" id="comments" name="comments" class="grid-item" placeholder="Hazelnutty Chocolatey Goodness!" required></li>
        <li><input type="submit" class="button-28" value="Calculate brew"></li>
        <li><input type="button" class="button-28" onclick="clearForm()" value="Clear"></li>
    </form>
  </ul>
  </div>

<div class="header">
<h3><label for="search">Search coffee recipes</label></h3>
<input class="form-control grid-item" type="search"
       name="search" placeholder="Begin typing to search recipes"
       hx-post="/search/"
       hx-trigger="input changed delay:600ms, keyup[key=='Enter'], load"
       hx-target="#content-div">
</div>

  <div id="content-div">
  </div>
  </div>
  <script>
    function clearForm() {
    document.querySelector('form').reset();
  }
  </script>
  </body>
</html> 